rich
janome
httpx
sounddevice
numpy
pytchat

scikit-learn
janome

faster-whisper
pydub
pyaudio
aiohttp
joblib

langchain
langchain-community
easyocr
PyGetWindow
PyAutoGUI

fastapi
uvicorn

pandas
deepl
openai
google-cloud
google-cloud-vision
mss
keyboard